<div class="bg-header">
  <div class="first-nav">
    <div class="container">
      <div class="main-nav">
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light header" >
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="col-md-2">
                <img class="gold-img" src="../../assets/goldbharat.png" alt="" />
              </div>
              <div class="collapse navbar-collapse" id="navbarNav" (click)="collapseNavbar()">
                <div class="col-md-8">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link " aria-current="page"  routerLink="home" routerLinkActive="active-link" >Live Rate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="about" routerLinkActive="active-link">About Rate</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active-link" routerLink="products">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active-link" routerLink="locations">Locations</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active-link" routerLink="policy">Privacy Policy</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLinkActive="active-link" routerLink="book">Booking</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <div class="btn-head">
                    
                    <button class="btn-reg" routerLink="register">Register</button>
                    <button class="btn-login" routerLink="login">Login</button>
  
                  </div>
                  
                </div>
              </div>
            </div>
          </nav>
        </div>

      </div>
      
    </div>
  </div>
  
</div>



