<div class="bg-footer">

    <div class="bg-footer1">
        <div class="main-contact">
            <p class="contact">Contact Us</p>
            <img  src="../../assets/bhavav.png" alt="">
        </div>
    
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="box1">
                        <p class="contact-para">Contact Number</p>
                        <div class="main-contact-number">
                            <div class="contact-number">
                                <img class="icons" src="../../assets/phoneicon.png" alt="">
                                <p class="number">1800 8906 122</p>
            
                            </div>
            
                            <div class="contact-number">
                                <img class="icons" src="../../assets/phoneicon.png" alt="">
                                <p class="number">040 23222175</p>
            
                            </div>
        
                        </div>
                        <p class="contact-para">Timings</p>
                        <div class="main-clock">
                            <img class="clock" src="../../assets/clock.png" alt="">
                            <p class="date-time">Mon - Sat - 9:30 am / 6:30 pm</p>
                        </div>
                    </div>
                </div>
    
                <div class="col-md-4">
                    <div class="box1">
                        <p class="contact-para">WhatsApp Number</p>
                        <div class="main-contact-number">
                            <div class="contact-number">
                                <img class="icons" src="../../assets/whatsapp.png" alt="">
                                <p class="number">+ 91-9160006702</p>
            
                            </div>
            
                            
        
                        </div>
                        <p class="contact-para">Email ID</p>
                        <div class="main-clock">
                            <img class="clock" src="../../assets/gmail.png" alt="">
                            <span class="date-time">info@goldsikka.com</span>
                        </div>
                    </div>
        
                </div>
    
                <div class="col-md-4">
                    <div class="box1">
                        <div class="address">
                            <img class="home" src="../../assets/home.png" alt="">
                            <p class="address-para">Address</p>
                        </div>
                        <p class="text-address2">Goldsikka Limited 2nd Floor, Ashoka Raghupathi Chambers ,H.No. 1-10-60 , Adj to Prakash Nagar Metro Station, Begumpet, Hyderabad, Telangana, 500016 India.</p>
                    </div>
        
                </div>
    
            </div>
           
    
            
        </div>

    </div>

   

</div>


<div class="footer">
    <div class="footer1">
        <div class="container">
        
            <div class="row">
                <div class="col-md-3">
                    <p class="para-link">Quick Links</p>
                    <p class="line"></p>
                    <p class="para-live">Live Rates</p>
                    <p class="para-live">About Us</p>
                    <p class="para-live">Products</p>
                    <p class="para-live">Locate Us</p>
                </div>
                <div class="col-md-3">
                    <p class="para-link">Our Products</p>
                    <p class="line"></p>
                    <p class="para-live">Gold Bars</p>
                    <p class="para-live">Silver Bars</p>
                    <p class="para-live">Gold Coins</p>
                    <p class="para-live">Silver Coins</p>
                </div>
                <div class="col-md-3">
                    <p class="para-link">Get In Touch</p>
                    <p class="line"></p>
                    <p class="para-live">Call: 1800 8906 122</p>
                    <p class="para-live">Call: 040 23222175</p>
                    <p class="para-live">What’s App: +91-9160006702</p>
                    <p class="para-live">Email: info@goldsikka.com</p>
                    <p class="para-live">Working Hours: Mon-Sat(9:30 am to 6:30 pm)</p>
                    <p class="para-live">Note: 2nd & 4th Saturdays Holidays.</p>
                    
                </div>
                <div class="col-md-3">
                    <p class="para-link">Download Our App</p>
                    <p class="line"></p>
                    <img class="playstore" src="../../assets/playstore.png" alt="">
                    
                    
                </div>
    
                <p class="para-xyug"><strong>©</strong> 2023-2024 Gold Bharat Ltd. Design by: X-YUG Technologies</p>
            </div>
        </div>

    </div>
   
</div>
