<div class="bg-footer">

    <div class="main-contact">
        <p class="contact">Contact Us</p>
        <img  src="../../assets/bhavav.png" alt="">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box1">
                    <p class="contact-para">Contact Number</p>
                    <div class="main-contact-number">
                        <div class="contact-number">
                            <img class="icons" src="../../assets/phoneicon.png" alt="">
                            <p class="number">1800 8906 122</p>
        
                        </div>
        
                        <div class="contact-number">
                            <img class="icons" src="../../assets/phoneicon.png" alt="">
                            <p class="number">040 23222175</p>
        
                        </div>
    
                    </div>
                    <p class="contact-para">Timings</p>
                    <div class="main-clock">
                        <img class="clock" src="../../assets/clock.png" alt="">
                        <p class="date-time">Mon - Sat - 9:30 am / 6:30 pm</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="box1">
                    <p class="contact-para">WhatsApp Number</p>
                    <div class="main-contact-number">
                        <div class="contact-number">
                            <img class="icons" src="../../assets/whatsapp.png" alt="">
                            <p class="number">+ 91-9160006702</p>
        
                        </div>
        
                        
    
                    </div>
                    <p class="contact-para">Email ID</p>
                    <div class="main-clock">
                        <img class="clock" src="../../assets/gmail.png" alt="">
                        <span class="date-time">info@goldsikka.com</span>
                    </div>
                </div>
    
            </div>

            <div class="col-md-4">
                <div class="box1">
                    <div class="address">
                        <img class="home" src="../../assets/home.png" alt="">
                        <p class="address-para">Address</p>
                    </div>
                    <p class="text-address2">Goldsikka Limited 2nd Floor, Ashoka Raghupathi Chambers ,H.No. 1-10-60 , Adj to Prakash Nagar Metro Station, Begumpet, Hyderabad, Telangana, 500016 India.</p>
                </div>
    
            </div>

        </div>
       

        
    </div>

</div>


<div class="footer">
    
</div>
