.main-about{
    background-color: #010A43;
    padding-top: 80px;
}

.about-para1{
    font-size: 25px;
    font-weight: 600;
    color: #ffff;
}

.about-para2{
    color: #ffff;
    text-align: justify;
    margin: 0px;
    padding-bottom: 10px;
}