<div class="section-book">
    <div class="main-book">
        <div class="book-box1">
            <p class="Book-text">Booking</p>
            <div class="box">
                <p class="book-para1">Booking Number</p>
                <p class="book-para2">+91 9912298000</p>

            </div>
            <div class="box">
                <p class="book-para1">Account Create</p>
                <p class="book-para2">info@goldsikka.com</p>

            </div>
            <div class="box">
                <p class="book-para1">Technical Support</p>
                <p class="book-para2">info@goldsikka.com</p>

            </div>
            
            <div class="box1">
                <p class="book-para1">Address</p>
                <p class="book-para2">2nd Floor, Ashoka Raghupathi Chambers , H.No. 1-10-60 adj. to Prakash Nagar Metro Station, Begumpet, Hyderabad, Telangana 500016</p>
               

            </div>

          
            
        </div>

    </div>

    
   

</div>
