.header-locations{
    padding-top: 20px;
 
}

.location-para{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
   
}

.img-loco{
    width: 100%;
    height: 290px;
    
    padding-bottom: 10px;
}