<div class="header-locations">
  <div class="container">
    <p class="location-para">Locate Us</p>

    <div class="row">
      <div class="col-md-6">
        <div class="location-frame">
          <iframe
            class="map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7612.602827333979!2d78.4607427052198!3d17.44528184638326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb90a36223132b%3A0x56f6b02c055805b6!2sGoldsikka%20Limited!5e0!3m2!1sen!2sus!4v1716875401771!5m2!1sen!2sus"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>

      <div class="col-md-6">
        <div class="main-location">
          <div class="phones">
            <div class="logo-phone">
              <i class="fa-solid fa-phone"></i>
            </div>
            <div class="mobile-text">
              <p class="touch">Get In Touch</p>
              <p class="Whatsapp">Whatsapp No: +91 91600 06702</p>
            </div>
          </div>

          <div class="email">
            <div class="logo-email">
              <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="email-text">
              <p class="touch">Email Us</p>
              <p class="email-gold">info@goldsikka.com</p>
            </div>
          </div>
          <div class="address">
            <div class="logo-address">
              <i class="fa-solid fa-house"></i>
            </div>
            <div class="address-text">
              <p class="touch">Address</p>
              <p class="address-text1">
                Goldsikka Limited 2nd Floor, H.No.1-10-60 to 62, Ashoka
                Raghupathi Chambers , S.P. Road, Begumpet Hyderabad,
                Telangana-500016, India
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of datausers">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.address.street }}, {{ user.address.suite }}, {{ user.address.city }}, {{ user.address.zipcode }}, </td>

        <td>{{ user.phone }}</td>
        <td>{{ user.website }}</td>
        <td>{{ user.company.name }}</td>
      </tr>
    </tbody>
  </table> -->

<!-- user-form.component.html -->
<!-- <div class="mt-5">
  <form (ngSubmit)="submitForm()">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
  
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" [(ngModel)]="user.email" required>
  
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" [(ngModel)]="user.phone" required>
  
    <button type="submit">Submit</button>
  </form>
</div> -->

<!-- <div *ngIf="usersdata">
  <p class="mt-3 ">{{ usersdata.name.title }} {{ usersdata.name.first }} {{ usersdata.name.last }}</p>
  <p>{{usersdata.location.city}}</p>
  <p>{{usersdata.location.state}}</p>
  <p>{{usersdata.location.country}}</p>
  
</div> -->

<!-- <table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Description</th>
      <th>Category</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Images</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of product">
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.category.name }}</td>
      <td>{{ product.createdAt }}</td>
      <td>{{ product.updatedAt }}</td>
      <td>
        <div *ngIf="product.images">
          <img [src]="product.images" alt="Product Image" style="max-width: 100px; max-height: 100px; margin-right: 5px;">
        </div>
      </td>
    </tr>
  </tbody>
</table> -->
