.table{
        background-color: #d4c5c5;
    
}

.table2{
        background-color: rgb(148, 220, 71);
}

.tr1{
        justify-content: space-between;
}


.carts{
        padding:5px;
}

.head1{
        padding: 10px;
}

.id{
        padding: 5px;
}