<div class="home-header">
    <div class="container">
        <p class="para">Real-Time Gold and Silver Live Prices</p>

        <div class="row">
            <div class="col-md-4">
                <div class="main-spot">
                    <p class="spot-gold">Spot Gold</p>
                    <P class="spot-gold-price">$2023.8</P>
    
                </div>

            </div>
            <div class="col-md-4">
                <div class="main-spot">
                    <p class="spot-gold">Spot Sliver</p>
                    <P class="spot-silver-price">$22.361</P>
    
                </div>

            </div>
            <div class="col-md-4">
                <div class="main-spot">
                    <p class="spot-gold">Spot Rupee</p>
                    <P class="spot-Rupee-price">$2023.8</P>
    
                </div>

            </div>
        </div>

        <p class="para1">Commodities on Gold Bharat</p>

        <div class="row">
            <div class="col-md-6">
                <div class="gold-live">
                    <div class="main-date">
                        <p class="date">Date & Time</p>
                        <p class="date-time">{{ today | date:'MMMM d, y,  h:mm:ss a' }}</p>

                    </div>

                    <div class="live-gold">
                        <img class="gold-img" src="../../assets/gold1.png" alt="">
                        <p class="grams">Gold Live Price Per Gram</p>
                        <p class="price-gold1">₹ 6383.76</p>
                    </div>

                    <div class="main-date2">
                        <div class="d-flex">
                            <img class="verify" src="../../assets/securitytick.png" alt="">
                            <p class="date">100% Hallmarked</p>
                            
                        </div>
                       
                        <p class="gold-pure">24k 999 Pure Gold</p>

                    </div>

                    
                   
                </div>
            </div>
            <div class="col-md-6">
                <div class="sliver-live">
                    <div class="main-date">
                        <p class="date">Date & Time</p>
                        <p class="date-time">{{ today | date:'MMMM d, y,  h:mm:ss a' }}</p>

                    </div>

                    <div class="live-gold">
                        <img class="gold-img" src="../../assets/sliver1.png" alt="">
                        <p class="grams">Silver Live Price Per 1Kg</p>
                        <p class="price-gold1">₹ 71293.04</p>
                    </div>

                    <div class="main-date2">
                        <div class="d-flex">
                            <img class="verify" src="../../assets/securitytick.png" alt="">
                            <p class="date">100% Hallmarked</p>
                            
                        </div>
                       
                        <p class="gold-pure">99.9% Pure Silver</p>

                    </div>

                    
                   
                </div>
            </div>
        </div>

       

    </div>

    <div class="header-product">
        <div class="container">
            <p class="our-product">Our Products</p>

            <div class="img-bhavav">
                <img class="bhavav" src="../../assets/bhavav.png" alt="">

            </div>
            
             
            <div class="row mt-5">
                <div class="col-md-3">
                    <img class="goldbar1" src="../../assets/goldbar1.jpg" alt="">
                    <p class="para-coins">Gold Bars</p>
                </div>
                <div class="col-md-3">
                    <img class="goldbar1" src="../../assets/silverbars.jpg" alt="">
                    <p class="para-coins">Silver Bars</p>
                </div>
                <div class="col-md-3">
                    <img class="goldbar1" src="../../assets/goldcoins.jpg" alt="">
                    <p class="para-coins">Gold Coins</p>
                </div>
                <div class="col-md-3">
                    <img class="goldbar1" src="../../assets/silvercoins.jpg" alt="">
                    <p class="para-coins">Sliver Coins</p>
                </div>
            </div>

        </div>
        

    </div>


    <div class="mobile-bg">
        <div class="container">
            <div class="main-text-app">
                <p class="para-app">Download Our App</p>
                <img src="../../assets/bhavav.png" alt="">

            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <img class="phone-img" src="../../assets/phone.png" alt="">

                </div>
                <div class="col-md-6">
                    <div class="star-img">
                        <img class="star" src="../../assets/star.png" alt="">

                    </div>

                    <div class="playstore-img">
                        <img class="playstore" src="../../assets/playstore.png" alt="">
                    </div>
                    
                </div>
            </div>
        </div>
       
        
    </div>
    
</div>
