.policy-header{
    padding-top: 20px;
    background-color: #010A43;
}

.para-gen{
    font-size: 27px;
    font-weight: 600;
    color:#ffff;
}

.para1{
    font-size: 20px;
    font-weight:600;
    color:white;
}
.para2{
    font-size: 17px;
   text-align: justify;
   color: #E7E4E4;

}


@media screen and (max-width:500px) {
    .policy-header{
        padding-top: 40px;
        background-color: #010A43;
    }
    .para2{
        font-size: 14px;
        text-align: justify;
        color: #E7E4E4;
    }

    .para1{
        font-size: 15px;
        font-weight:700;
        color:white;
    }

    .para-gen {
        font-size: 20px;
        font-weight: 700;
        color: #212529;
    }
}


@media screen and (max-width:991px) and (min-width:768px) {
    .policy-header{
        padding-top: 40px;
        background-color: #010A43;
    }
    .para-gen{
        font-size: 23px;
        font-weight: 600;
        color: #212529;
    } 

    .para2 {
        font-size: 15px;
        text-align: justify;
        color: #E7E4E4;
    }

    .para1{
        font-size: 16px;
        font-weight:700;
        color:white;
    }
}